* {
  margin: 0;
  padding: 0;
}

.coinItem {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.investment,
.price {
  text-align: right;
  font-size: 12px;
}

.changePos {
  color: limegreen;
}

.changeNeg {
  color: red;
}
