body {
  font-family: "Space Mono";
  background-image: url("./Images/background.jpg");
  background-repeat: no-repeat;
  background-position:fixed;
  background-blend-mode: soft-light;
  background-size: cover;
  height: 150vh;

}

.Container{
  color:rgba(223, 249, 255, 1);
  display:flex;
  justify-content: center;
}
.DivBackground{
  display:flex;
flex-direction:column;
justify-content: center;
align-content:center;
background-color:rgba(0, 15, 30, 0.9);
text-align:center;
padding: 10px;
margin-top: 50px;
margin-bottom: 25px;
height:700px;
width: 350px;

}

.p{

  font-size: 16 px;
  color:rgba(223, 249, 255, 1);
}
@media screen and (min-width: 600px) {
  .thead-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: aqua;
  }

  .text {
    text-align: center;
  }
}


