body {
  font-family: "Space Mono";
  background-image: url("./Components/CSS/background.png");
}

@media screen and (min-width: 600px) {
  .thead-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: aqua;
  }

  .text {
    text-align: center;
  }
}


