body {
  font-family: "Space Mono";
}

@media screen and (min-width: 600px) {
  .thead-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: aqua;
  }

  .text {
    text-align: center;
  }
}

.navbarItems {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
