* {
 margin: 0;
 padding:0;
 box-sizing: border-box;
}

li {
  list-style-type: none

}

a {

  text-decoration: none;
}

nav {
  display: flex;
  justify-content: center,
  ;
  color: white;
  background-color: black;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

ul li {
  columns: white;
  list-style: none;
  padding: 10px;
  word-spacing: -4.2px;
}

.logo{

  display: flex;
  justify-content: center;
  color: white;
  background-color: black;

}